# Supabase Configuration
VITE_SUPABASE_URL=https://jfisketzdkinmxrslogm.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_LrUAni5lLtyDIaVZi1m-tQ_Iskow9nx

NEXT_PUBLIC_SUPABASE_URL=https://jfisketzdkinmxrslogm.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_LrUAni5lLtyDIaVZi1m-tQ_Iskow9nx
